[v-cloak] {
  display: none;
}

body {
  font-size: .875rem;
  padding-top: 5rem;
  background-color: black;
}

.contents {
  padding: 3rem 1.5rem;
  /* text-align: center; */
}

table textarea {resize: none;width:100%}
table tr,td,th{text-align:left !important;vertical-align:top !important; background-color: black !important; color: whitesmoke I !important;}

.sub{padding-left:10px;font-size:16px;color:#999999;font-weight:normal}

.container{
  padding: 0;
  color: whitesmoke;
}


hr{
  color: whitesmoke;
  border: 0.2px solid #666666;
}
.logo{
height: 40px;
}

.fixed-top{
  background:black !important;
  border-bottom: 0.2px solid #666b66 ;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #666666;
}

.table{
  border: 1px solid #666666;
}


.table td, .table th{
  border-top: none  !important;
}

.table-bordered thead th,.table-bordered thead td {
  border-bottom-width: 0 !important;
  
}

.table thead th {
  
  border-bottom: 0px solid #dee2e6 !important;
}

h1{
  text-align: center;
  margin-top: 3rem;
  font-size: 20px;
  font-weight: 600;
  /* color: #fdfdfe; */
  /* text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3; */

  font-family: 'Niconne';
  background-image: linear-gradient(135deg, rgb(203, 94, 238) 0%, rgb(75, 225, 236) 100%);
  -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    background-repeat: no-repeat;
}


h2{
  text-align: center;
  margin-top: 0.3rem;
  font-size: 20px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: linear-gradient(135deg, #FFCC33 0%, #E233FF 100%);
  background-image: linear-gradient(135deg, #FFCC33 0%, #E233FF 100%);
  -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    background-repeat: no-repeat;
  font-family: 'Niconne', cursive;
  margin-right: 1rem;
}

h6{
  color: rgb(94, 93, 240) !important;
}

input{
  background: transparent !important;
  border: 1px solid #666666 !important;
  width: 70%  !important;
}

.btn{
 background:  linear-gradient(135deg, rgb(102, 153, 255) 0%, rgb(255, 51, 102) 100%);
border: 1px royalblue;
color: white;
width: 25%;
}






.footer-logo{
  font-size: 10px;
  height: 25px;
  padding-left: 0.3rem;
  color: white !important;
}

.site-footer
{
  background-color:black;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  border-top: 0.5px solid;
  margin-top: 5rem;

  font-family: 'Niconne';
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#fff;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}



.footer-row{
  justify-content: space-between;
}


.fab-fb{
  background-color: #3b5998 !important;
}

.fab-tw{
background-color: #00aced !important;
}

.fab-li{
  background-color: #007bb6 !important;
}

.fab-d{
  background-color: #ea4c89 !important;
}

.row-add{
  justify-content: center;
}

.btn-add{
  width: 100%;
}

.cont-main{
  min-height: 50vh;
}

th{
  background-color: #66666666 !important;
  color: #bbd5d5 !important;
  
}

#app{
  display: flex;
  flex-direction: column;
  align-items: center;
}